<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="sentinel.cfg" value="ip1:26379,ip2:26379,ip3:26379,serviceName=XYZ"/>
    <add key="test.loop.timeout" value="30"/>
    <add key="sentinel.synctimeout" value="5000"/>
    <add key="redis.synctimeout" value="5000"/>
    <add key="redis.responsetimeout" value="5000"/>
  </appSettings>
</configuration>